[defaults]
inventory         = inventories/stag/hosts.yml
roles_path        = roles
collections_paths = collections
remote_user       = ec2-user
private_key_file  = ~/.ssh/platform-rag.pem
host_key_checking = False
retry_files_enabled = False
stdout_callback   = yaml
callbacks_enabled = timer, profile_tasks

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
pipelining    = True
ssh_args      = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[inventory]
enable_plugins = aws_ec2, host_list, yaml
